<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rhel.rhel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rhel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <rhel.rhel>
            <setting name="evePath" serializeAs="String">
                <value />
            </setting>
        </rhel.rhel>
    </applicationSettings>
    <userSettings>
        <rhel.Properties.Settings>
            <setting name="evePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IV" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UIScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vsync" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Display" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Turrets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Effects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MissileEffects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraShake" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipExplo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DroneModels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPUParticles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResourceCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadStationEnv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PostProcess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShaderQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LODQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShadowQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InteriorEffects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InteriorShader" serializeAs="String">
                <value>0</value>
            </setting>
        </rhel.Properties.Settings>
    </userSettings>
</configuration>